# ==========================================
# 1. Виртуальное окружение (ГЛАВНОЕ ТЯЖЕЛОЕ)
# ==========================================
env/
.venv/
venv/
ENV/

# ==========================================
# 2. Локальный кэш разработки и IDE
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# 3. Кэш Python и Jupyter Notebooks
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# ==========================================
# 4. Мусорные и временные файлы в проекте
# ==========================================
# Удаляем технические .gitkeep, так как в папках уже лежат реальные файлы
.gitkeep
pages/placeholder.py

# ==========================================
# 5. Большие файлы и датасеты (> 100 МБ)
# ==========================================
# Сам файл весов (.pt) весит ~53 МБ, он пройдёт на гитхаб без LFS.
# Но если вы не хотите забивать репозиторий сотнями картинок МРТ,
# раскомментируйте (уберите #) строки ниже:
models/axial_t1wce_2_class/images/
models/axial_t1wce_2_class/labels/